<html>
<head>
  <title>ORM Prototype</title>
  <link href="/style.css" rel="stylesheet">
  <script src="/js/handlebars.runtime-v4.0.2.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/utilities.js"></script>
</head>

<body>

  <h1>HEADER</h1>

  <div id="main">
    <%= yield %>
  </div>

  <h1>FOOTER</h1>

</body>

</html>