<html>
<head>
  <title>ORM Prototype</title>
  <link href="/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:200,300,500,700' rel='stylesheet' type='text/css'>
  <script src="/js/handlebars.runtime-v4.0.2.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/utilities.js"></script>
</head>

<body>

  <div class="header-bar">
    <h1>ORM Prototype</h1>
  </div>

  <div id="main">
    <%= yield %>
  </div>

</body>

</html>
