<h2>Books</h2>

{{#each this}}
    <div class="book-item">
        {{title}} <span class="author"> -- {{author}}</span>
    </div>
{{/each}}

<h2>Add a Book</h2>

<form action="/api/books" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="author" placeholder="author">
    <input type="text" name="owner" placeholder="owner">
    <input type="text" name="location" placeholder="location">
    <br/>
    <input type="submit" value="Add Book">
</form>
